* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    display: grid;
}


.gallery {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
    min-width: 60%;
    height: 700px;
    background-color: rgba(91,91,91,1);
    border-radius: 1em 1em 1em 1em;
}

.main-display {
    background-color: rgba(91,91,91,1);
    width: 100%;
    min-width: 560px;
    height: auto;
    border-radius: 1em 0em 0em 1em;
}

.thumb-grid {
    background-color: rgba(50,50,50,1);
    display: grid;
    max-height: auto;
    width: auto;
    max-width: 450px;
    grid-auto-flow: column;
    gap: 0.75em;
    justify-content: space-evenly;
    justify-items: center;
    align-content: top;
    justify-self: end;
    padding: 1.5em 0.75em 1.5em 1.5em;
    scroll-behavior: smooth;
    overflow-y: auto;
    border-radius: 0em 1em 1em 0em;
}

.thumb-grid::-webkit-scrollbar {
    width: 30px;
    top: 1em;
}

.thumb-grid::-webkit-scrollbar-thumb {
    background: rgba(91,91,91,1);
    border-radius: 10em;
    border: 12px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }

  .thumb-grid::-webkit-scrollbar-track {
    margin: calc(1.5em - 10px);
  }

.img-box {
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    display: grid;
    width: auto;
    height: auto;
    background-color: rgba(255,255,255,0);
    transform: scale(0.95);
    border-radius: 12.5%;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.4, 0, 0.4, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.thumb {
    width: 100%;
    height: auto;
    border-radius: 12.5%;
    aspect-ratio: 1/1;
    transition: 0.4s cubic-bezier(0.4, 0, 0.4, 1);
}

.img-box:hover {
    transform: scale(1.05);
    z-index: 5;
}

.img-box:active .thumb {
    opacity: 0.5;
}

.img-box:active {
    background-color: rgba(255,255,255,1);
}


@media (max-width: 1024px) {
    .img-box:nth-child(1n + 1) {
        grid-row: 1;
    }

    .img-box:nth-child(2n + 1) {
        grid-row: 2;
    }

    .gallery {
        justify-self: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 230px;
        width: 80%;
        min-width: 1px;
        height: 750px;
    }

    .main-display {
        background-color: rgba(91,91,91,1);
        width: 100%;
        min-width: 400px;
        height: auto;
        border-radius: 1em 1em 0em 0em;
    }
    
    .thumb-grid {
        background-color: rgba(50,50,50,1);
        display: grid;
        height: auto;
        max-width: 100%;
        grid-auto-flow: row;
        grid-template-rows: auto auto;
        gap: 0.75em;
        justify-content: left;
        justify-items: left;
        align-content: center;
        align-self: bottom;
        padding: 0.75em 1.5em 1.5em 1.5em;
        scroll-behavior: smooth;
        overflow-x: auto;
        overflow-y: hidden;
        border-radius: 0em 0em 1em 1em;
    }

    .img-box {
        width: fit-content;
        height: fit-content;
        background-color: rgba(255,255,255,0);
        transform: scale(0.95);
        border-radius: 12.5%;
        cursor: pointer;
        transition: 0.4s cubic-bezier(0.4, 0, 0.4, 1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    
    .thumb {
        width: auto;
        max-height: 80px;
        border-radius: 12.5%;
        aspect-ratio: 1/1;
        transition: 0.4s cubic-bezier(0.4, 0, 0.4, 1);
    }


    .thumb-grid::-webkit-scrollbar {
        height: 30px;
    }
}

    @media (min-width: 1025px) {
        .img-box:nth-child(2n + 1) {
            transition: 0.5s;
            grid-column: 1;
        }
        
        .img-box:nth-child(2n + 2) {
            transition: 0.5s;
            grid-column: 2;
        }
    }
    
    @media (min-width: 1225px) {
        .img-box:nth-child(3n + 1) {
            transition: 0.5s;
            grid-column: 1;
        }
        
        .img-box:nth-child(3n + 2) {
            transition: 0.5s;
            grid-column: 2;
        }
        
        .img-box:nth-child(3n + 3) {
            transition: 0.5s;
            grid-column: 3;
        }
    }